<h1>Editing bio</h1>

<% form_for(@bio, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :cal_year_id %><br />
    <%= f.collection_select :cal_year_id, CalYear.all, :id, :year %>
  </p>
  <p>
    <%= f.label :month %><br />
    <%= f.collection_select :month_id, Month.all, :id, :month %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>

  <hr />
  <h3>Change Profile Images (Optional)</h3>

  <p>
    <% fields_for :thumb_image do |u| %>
      <%= u.label :uploaded_data, 'Thumb image' %>
      <%= u.file_field :uploaded_data %><br />
      <%= u.hidden_field :thumb, :value => true %>
      <%= u.hidden_field :bio_id, :value => @bio.id %>
    <% end %>
  </p>
  <% unless @bio.thumb_image.blank? %>
    <p>Current thumb image: <br /><%= image_tag @bio.thumb_image.public_filename, :width => '100', :height => 200 %>
  <% end %>

  <p>
    <% fields_for :full_image do |u| %>
      <%= u.label :uploaded_data, 'Full image' %>
      <%= u.file_field :uploaded_data %><br />
      <%= u.hidden_field :thumb, :value => 'false' %>
      <%= u.hidden_field :bio_id, :value => @bio.id %>
    <% end %>
  </p>
  <% unless @bio.full_image.blank? %>
    <p>Current full image: <br /><%= image_tag @bio.full_image.public_filename, :width => '100', :height => 200 %>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
