<h1>New bio</h1>

<% form_for(@bio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :cal_year_id %><br />
    <%= f.collection_select :cal_year_id, CalYear.all, :id, :year %>
  </p>
  <p>
    <%= f.label :month_id %><br />
    <%= f.collection_select :month_id, Month.all, :id, :month %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>


  <hr />
  <h3>Profile Images (Optional)</h3>

  <p>
    <% fields_for :full_image do |u| %>
      <%= u.label :uploaded_data, 'Thumb image' %>
      <%= u.file_field :uploaded_data %><br />
      <%= u.hidden_field :thumb, :value => true %>
      <%= u.hidden_field :bio_id, :value => @bio.id %>
    <% end %>
  </p>

  <p>
    <% fields_for :thumb_image do |u| %>
      <%= u.label :uploaded_data, 'Full image' %>
      <%= u.file_field :uploaded_data %><br />
      <%= u.hidden_field :thumb, :value => false %>
      <%= u.hidden_field :bio_id, :value => @bio.id %>
    <% end %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
