<% title "#{@bio.name} - #{@bio.month}, #{@bio.cal_year}" %>
<% body_class 'bio' %>

<div class="bio">
  <h1><%= @bio.name %></h1>
  <h3><%= @bio.cal_year %> - <%= @bio.month %></h3>

  <% if @bio.full_image.blank? %>
    <%= image_tag 'ff_silhouette.jpg' %>
  <% else %>
    <%= image_tag @bio.full_image.public_filename %>
  <% end %>

  <%= simple_format @bio.bio %>

  <div style="clear: both;"></div>


  <% if admin? %>
    <%= link_to 'Edit', edit_bio_path(@bio) %> | 
    <%= link_to 'Destroy', @bio, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>
