<h1>Editing cal_year</h1>

<% form_for(@cal_year) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cal_year %> |
<%= link_to 'Back', cal_years_path %>