<h1>Listing cal_years</h1>

<table>
  <tr>
    <th>Year</th>
  </tr>

<% @cal_years.each do |cal_year| %>
  <tr>
    <td><%=h cal_year.year %></td>
    <td><%= link_to 'Show', cal_year %></td>
    <td><%= link_to 'Edit', edit_cal_year_path(cal_year) %></td>
    <td><%= link_to 'Destroy', cal_year, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cal_year', new_cal_year_path %>